.navbar {
    padding: 1rem;
    background-color: #31393C;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.navbar-icon-home {
    font-size: 5rem;
    color: #fff;
}